@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ddd;
}

@theme inline {
  --color-background:  #000;;
  --color-foreground:  #000;;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ddd;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
